.wrapper_all{
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 50px;
  height: 100%;
}

.wrapper{
  display: flex;
  
}

.wrapper_img{
  margin-left: 15px;
}

.wrapper_info_text{
  max-width: 820px;
  margin-left: 15px;
}

.wrapper_name{
  display: flex;
}

.name{
  font-weight: 700;
  font-size: 40px;
}

.description{
  font-weight: 700;
  font-size: 24px;
}

.info_character{
  font-weight: 400;
  font-size: 20px;
}

.comics_wrapper{
  display: flex;
  margin-top: 15px;
  align-items: flex-start;
  flex-wrap: wrap;
}

.comic{
  margin-right: 45px;
  width: 100%;
}

.head_comics{
 
  font-weight: 700;
  font-size: 24px;
}

.comic_title{
  text-decoration: none;
  color: black;
  width: 150px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.btn_favorite_star{
  color: rgb(223, 223, 57);
  cursor: pointer;
  font-size: 50px;
}


@media (max-width: 1200px){
  .wrapper_all{
    max-width: 970px;
  }
}

@media (max-width: 992px){
  .wrapper_all{
    max-width: 750px;
  }

}

@media (max-width: 767px){
  .wrapper_all{
    max-width: none;
  }
  .wrapper{
    display: block;
  }
  .wrapper_info_text{
    max-width: none;
  }
}