.footer{
  height: 80px;
  background-color: #242424;
  color: rgba(255, 255, 255, 0.651);
  display: flex;
  align-items: center;
  justify-content: center
}



@media (max-width: 767px){
  .footer  div{
    font-size: 12px;
  }
}