.app{
  margin: 0 auto;
  background-color:#f5f5f5;
}



.slick-prev:before {
  color: #242424 !important;
  background-color: #eee;
}
.slick-next:before {
  color: #242424 !important;
  background-color: #eee;
}
