.app{
  margin: 0 auto;
  background-color:rgb(231,235,240)

}



.slick-prev:before {
  color: #242424 !important;
  background-color: #eee;
}
.slick-next:before {
  color: #242424 !important;
  background-color: #eee;
}

.MuiPaginationItem-outlinedPrimary{
  color: blueviolet;
}