.background{
  width: 100%;
    background: url(./wp2903386.webp);
    height: auto;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  margin-bottom: 80px;
  /* display: flex; */
    align-items: center;
    overflow: hidden;
}

.wrapper{
  max-width: 1200px;
  margin: 0 auto;
}


.headline{
  padding-top: 75px;
}

.headline_first{
 color: white;
 font-weight: bold;
 font-size: 50px;

}


.headline_second{
  color: rgb(197, 197, 197);
  font-weight:400;
  font-size: 25px;
  margin-top: -15px;
  margin-bottom: 80px;
 }

 .btn_wrapper{
  margin-top: -175px;
  margin-bottom: 200px;
}

 .btn_character{
   background-color: rgb(184, 22, 22);
   color:rgb(235, 235, 235);
   font-weight:500;
   font-size: 20px;
   margin-right: 45px;
   padding: 10px 20px 10px 20px;
   margin-top: 65px;
   cursor: pointer;
   text-decoration: none;
   border: 1px solid rgb(184, 22, 22);
 }

 .btn_character:hover{
  background-color: rgba(184, 22, 22, 0);
  color:rgb(235, 235, 235);
  border: 1px solid rgb(184, 22, 22);
}

.btn_comics:hover{
  background-color: rgb(184, 22, 22);
  color:rgb(235, 235, 235);
  font-weight:500;
  font-size: 20px;
  margin-right: 45px;
  padding: 10px 20px 10px 20px;
  margin-top: 65px;
  cursor: pointer;
  text-decoration: none;
  border: 1px solid rgb(184, 22, 22);
}

.btn_comics{
 background-color: rgba(184, 22, 22, 0);
 color:rgb(235, 235, 235);
 font-weight:500;
 font-size: 20px;
 border: 1px solid rgb(184, 22, 22);
 margin-right: 45px;
 padding: 10px 20px 10px 20px;
 margin-top: 65px;
 cursor: pointer;
 text-decoration: none;
}



 .img{
   width: 100%;
   height: auto;
 }

 .headline_wrapper{
   max-width: 1200px;
   display: flex;
   margin: 0 auto;
  
   justify-content: space-between;
 }

 @media (max-width: 1200px){
  .headline_wrapper{
    max-width: 970px;
  }
  .wrapper{
    max-width: 970px;
  }
  .btn_wrapper{
    margin-top: -50px;
    margin-bottom: 80px;
  }
}

@media (max-width: 992px){
  .headline_wrapper{
    max-width: 750px;
  }
  .wrapper{
    max-width: 750px;
  }
}

@media (max-width: 767px){
  .headline_wrapper{
    max-width: none;
    display: block;
  }
  .wrapper{
    max-width: none;
    padding-left: 15px;
  }
  .headline_second{
    margin-bottom: 0;
  }
  .headline{
    padding-top: 30px;
  }
  .background{
    height: auto;
    margin-bottom: 0;
  }
  .btn_wrapper{
    margin-top: 35px;
    margin-bottom: 50px;
  }

}