.slider_wrapper{
  max-width: 978px;
  margin: 0 auto;
}

.text_slider{
  font-size: 24px;
  font-weight: bold;
}

.slider{
  display: flex;
  width: 978px;
  margin: 0 auto;
  align-content: center;
    align-items: center;
    margin-bottom: 25px;
}

.carusel_li{
    list-style: none;
    display: inline-block;
   
  }
  
  .carusel{
    width: 100%;
    position: relative;
    overflow-x: hidden;
    height: 420px;
    
    
  }
  
  .carusel_ul{
    width: max-content;
    font-size: 0;
    padding: 0
    
  }
  
  .carusel_ul li{
    font-size: 16px;
  }

  .carusel_wrapper{
      padding: 0;
      transition: all .3s;
      position: absolute;
      /* top: 20%; */
      left: -10px;
  }
  
  .btn_right{
    background-color: orangered;
    
  }
  
  .btn_left {
    background-color: orangered;
    
  }
  
  .item1{
    width: 80px;
    height: 90px;
    background-color: red;
    margin: 0;
  }
  
  .item2{
    width: 80px;
    height: 90px;
    background-color: black;
  }
  
  .item3{
    width: 80px;
    height: 90px;
    background-color: brown;
  }
  
  .item4{
    width: 80px;
    height: 90px;
    background-color: skyblue;
  }
  
  .item5{
    width: 80px;
    height: 90px;
    background-color: wheat;
  }
  
  .item6{
    width: 80px;
    height: 90px;
    background-color: green;
  }





  .card_character{
    width: 250px;
    height: 370px;
    box-shadow: 0px 6px 12px -5px rgba(34, 60, 80, 0.6);
    margin-bottom: 60px;
    background-color: #242424;
    margin: 25px;
    position: relative;
    cursor: pointer;
    transition: transform .2s;
  }
 



  .card_img{
    width: 100%;
      /* background: url(./spider-man.jpg); */
      height: 80%;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
    /* border-radius: 0px 0px 25px 25px; */
    border-bottom: 2px rgb(218, 17, 17) solid;
    
  }

  .card_character:hover{
    transform: scale(1.1);
  }
  
  .card_info{
    display: flex;
    
  }
  
  .card_name{
    color: #eeeeee;
    font-weight: bold;
    font-size: 18px;
    margin-top: 22px;
    margin-left: auto;
    margin-right: auto;
    text-decoration: none;
    text-align: center;
  }
  
  .card_name2{
    color: #eeeeee;
    font-weight: bold;
    font-size: 13px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    text-decoration: none;
  }
  
  .btn_favorite{
    width: 125px;
    height: 30px;
    text-transform: uppercase;
    font-weight: bold;
    border: none;
    background-color:rgb(218, 17, 17);
    color:rgba(255, 255, 255, 0.959);
    border-radius: 8px;
    cursor: pointer;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
  }
  
  .btn_favorite_delete{
    width: 125px;
    height: 30px;
    text-transform: uppercase;
    font-weight: bold;
    border: none;
    background-color:rgb(92, 92, 92);
    color:rgba(255, 255, 255, 0.959);
    border-radius: 8px;
    cursor: pointer;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
  }

  .page{
    border: 1px #242424 solid;
    cursor: pointer;
    margin-right: 10px;
  }
  
  .selected{
    font-weight:bold;
    cursor: pointer;
  }

  .btn_favorite_star{
    position: absolute;
    right: 0;
    color: rgb(223, 223, 57);
    cursor: pointer;
  }
 
  .favorite_bg{
    position: absolute;
    right: 0;
    width: 0;
    height: 0;
    border-top: 65px solid rgb(212, 21, 21); 
    border-left: 65px solid transparent;
  }

  .arrow{
    cursor: pointer;
    height: 140px;
    position: relative;
    width: 55px;
}

.arrow.left{
  transform: rotate(180deg);
}

.arrow.right{
  /* transform: rotate(180deg); */
}

.arrow_top, 
.arrow_bottom {
    background: rgb(184, 22, 22);
    height: 10px;
    left: -15px;
    position: absolute;
    top: 60px;
    width: 55px;
}
.arrow_top {
    top: 64px;
}
.arrow_top {
    transform: rotate(45deg);
    transform-origin: bottom right;
}
.arrow_bottom {
    transform: rotate(-45deg);
    transform-origin: top right;
}
.arrow_top::after, 
.arrow_bottom::after {
    background: #000;
    content: '';
    height: 100%;
    position: absolute;
    top: 0;
    transition: all 0.15s;
}
.arrow_top::after {
    left: 100%;
    right: 0;
    transition-delay: 0s;
}
.arrow_bottom::after {
    left: 0;
    right: 100%;
    transition-delay: 0.15s;
}
.arrow:hover .arrow_top::after {
    left: 0;
    transition-delay: 0.15s;
}
.arrow:hover .arrow_bottom::after {
    right: 0;
    transition-delay: 0s;
}

.hidden{
  visibility: hidden;
}

.btn_character{
  background-color: rgb(184, 22, 22);
  color:rgb(235, 235, 235);
  font-weight:500;
  font-size: 20px;
  margin-right: 45px;
  padding: 10px 20px 10px 20px;
  margin-top: 65px;
  cursor: pointer;
  text-decoration: none;
  border: 1px solid rgb(184, 22, 22);
}




  @media (max-width: 1200px){

  }

  @media (max-width: 992px){
    .slider_wrapper{
      max-width: 750px;
    }
    .slider{
      max-width: 750px;
    }
    .card_character{
      margin-right: auto;
      width: 191px;
    height: 280px;
    }
    .card_name{
      margin-top: 6px;
    }
    .carusel{
      height: 335px;
    }    
    
  }
  
  @media (max-width: 767px){
    .slider_wrapper{
      padding-left: 15px;
      /* max-width: 750px; */
      margin-top: 50px;
    }
    .slider{
      width: 535px;
    }
    .card_character{
      margin-right: auto;
    }
  }

  @media (max-width: 596px){
    .arrow{
      display: none;
    }
    .slider{
      width: auto;
    }
    .carusel{
      border: none;
      scroll-snap-type: x mandatory;
      overflow: auto;
      height: 335px;
    }    
    .carusel_ul li{
      scroll-snap-align: start;
    }
    .carusel_wrapper{
      left: -23px;
    }
    
  }

  @media (max-width: 549px){
    .characters_page{
      max-width: none;
    }
    .slider{
      width: auto;
    }
    .btn_right{
      display: none;
    }
    .btn_left{
      display: none;
    }
    .carusel{
      border: none;
      scroll-snap-type: x mandatory;
      overflow: auto;
      height: 335px;
    }    
    .carusel_ul li{
      scroll-snap-align: start;
    }
  }